@model CategoryFilterModel
@{
    ViewData["Title"] = "Danh sách chủ đề";

    var categories = ViewBag.Items as IPagedList<CategoryItem>;

    var queryFilter = "";
    if (Model != null)
    {
        queryFilter = Model.GetQueryString();
    }

}
<h2>
    Danh sách chủ đề
</h2>

<partial name="_CategoryFilterPane" />

@if (categories != null && categories.Count > 0)
{
    <table id="#tbl" class="table table-responsive table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Tên chủ đề</th>
                <th class="text-center">Mô tả</th>
                <th class="text-center">Số bài viết</th>
                <th class="text-center">Hiển thị</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cate in categories)
            {
                <tr>
                    <td>
                        <a asp-area="Admin"
                   asp-controller="Categories"
                   asp-action="Edit"
                   asp-route-id="@cate.Id"
                           class="text-bold">
                            @cate.Name
                        </a>
                    </td>
                    <td>
                        @cate.Description
                    </td>
                    <td align="center">
                        @cate.PostCount
                    </td>
                    <td align="center">
                        <a asp-area="Admin"
                   asp-controller="Categories"
                   asp-action="ToggleShowOnMenu"
                   asp-route-id="@cate.Id"
                   asp-route-filter="@queryFilter"
                   asp-route-p="@categories.PageNumber"
                   asp-route-ps="@categories.PageSize"
                           class="btn btn-info change-status-post">
                            @if (cate.ShowOnMenu)
                            {
                                <span>Ẩn</span>
                            }
                            else
                            {
                                <span>Hiện</span>
                            }
                        </a>
                    </td>
                    <td align="center">
                        <a asp-area="Admin"
                   asp-controller="Categories"
                   asp-action="Delete"
                   asp-route-filter="@queryFilter"
                   asp-route-id="@cate.Id"
                   asp-route-p="@categories.PageNumber"
                   asp-route-ps="@categories.PageSize"
                           class="btn btn-danger change-status-post align-content-start"
                           onclick="return confirm('Bạn có chắc chắn muốn xóa bài viết này không??')">
                            Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <partial name="_Pager" model="@queryFilter" />
}
else
{
    <h1 class="text-danger">
        Không tìm thấy chủ đề nào
    </h1>
}